name: Daily Threads Scrape

on:
  schedule:
    - cron: '0 6 * * *' # Запуск в 6:00 UTC (это 9:00 по Москве)
  workflow_dispatch: # Позволяет запускать кнопку вручную для теста

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: '3.9'

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install selenium webdriver-manager requests

      - name: Run Scraper
        run: python scrape_and_send.py
